body {
    margin: 0;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#graph {
    position: relative;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    top: 0;
    left: 0;
}

#title,
#xlabel,
#ylabel {
    position: absolute;
    width: max-content;
    font-size: .8rem;
}

#title {
    text-align: center;
}

#ylabel {
    transform: rotate(-90deg);
    z-index: 100;
}

svg {
    margin-top: 5rem;
}

#legend svg {
    border: 1px solid black;
}

#tooltip {
    position: absolute;
    z-index: 100;
    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 0.856);
    color: #fff;
}

#tooltip p {
    font-size: .8rem;
    margin-bottom: 0;
}

#legend {
    font-size: 0.5rem;
    position: absolute;
}

.legend-col {
    height: 1.5rem;
    width: 1.5rem;
    float: left;
}